/*
 * Connect SDK Web App Sampler App by LG Electronics
 *
 * To the extent possible under law, the person who associated CC0 with
 * this sample app has waived all copyright and related or neighboring rights
 * to the sample app.
 *
 * You should have received a copy of the CC0 legalcode along with this
 * work. If not, see http://creativecommons.org/publicdomain/zero/1.0/.
 */

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

#app {
    margin: 1em 0.5em 1em 0.5em;
}

.app-status {
    margin-left: 1em;
    font-size: 18px;
    vertical-align: middle;
}